@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.del{
	display: none;
}


.section-test{
	height: 80%;
	width: 90%;
	border-radius: 40px 40px 40px 50px; 
	background-color: #ebecec;
	overflow: hidden;
}
.section-test-title{
	width: 100%;
	height: 10%;
	background-color: #daaee8;
	border-radius: 40px 40px 0px 0px; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.section-test-title>h2{
	color: #fff;
	font-family: Arial;
}
.test{
	width: 100%;
	height: 90%;
	border-radius: 0px 0px 40px 250px;
	padding: 20px;
	flex-direction: column;

}
#tab-1:checked ~ #form-1,
#tab-2:checked ~ #form-2,
#tab-3:checked ~ #form-3, 
#tab-4:checked ~ #form-4,
#tab-5:checked ~ #form-5,
#tab-6:checked ~ #form-6,
#tab-7:checked ~ #form-7,
#tab-8:checked ~ #form-8,
#tab-9:checked ~ #form-9,
#tab-10:checked ~ #form-10,
#tab-11:checked ~ #form-11,
#tab-12:checked ~ #form-12,
#tab-13:checked ~ #form-13,
#tab-14:checked ~ #form-14,
#tab-15:checked ~ #form-15,
#tab-16:checked ~ #form-16{
	display: flex;
}
.test_text_block{
	width: 100%;
	height: 23%;
	padding-right: 20px;
}
.test_text_block>p{
	font-family: Arial;
	font-size: 19px;
}
.test_button_block{
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.answer{
	width: 50%;
	height: auto;
	display: flex;
	align-items: center;
}
.answer>label{
	font-family: Arial;
	color: #9d9e9e;
	transition: 0.2s;
}
.answer>label::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #d9dada;
	border: 2px solid #fff;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 10px;
	transition: 0.2s;
}
#no:checked + label::before, #no2:checked + label::before, #no3:checked + label::before, #no4:checked + label::before, #no5:checked + label::before, #no6:checked + label::before, #no7:checked + label::before, #no8:checked + label::before, #no9:checked + label::before, #no10:checked + label::before, #no11:checked + label::before, #no12:checked + label::before, #no13:checked + label::before, #no14:checked + label::before, #no15:checked + label::before, #no16:checked + label::before, #no17:checked + label::before, #no18:checked + label::before, #no19:checked + label::before, #no20:checked + label::before,
#maybe:checked  + label::before, #maybe2:checked  + label::before, #maybe3:checked  + label::before, #maybe4:checked  + label::before, #maybe5:checked  + label::before, #maybe6:checked  + label::before, #maybe7:checked  + label::before, #maybe8:checked  + label::before, #maybe9:checked  + label::before, #maybe10:checked  + label::before, #maybe11:checked  + label::before, #maybe12:checked  + label::before, #maybe13:checked  + label::before, #maybe14:checked  + label::before, #maybe15:checked  + label::before, #maybe16:checked  + label::before, #maybe17:checked  + label::before, #maybe18:checked  + label::before, #maybe19:checked  + label::before, #maybe20:checked  + label::before,
#yes:checked + label::before, #yes2:checked + label::before, #yes3:checked + label::before, #yes4:checked + label::before, #yes5:checked + label::before,#yes6:checked + label::before, #yes7:checked + label::before, #yes8:checked + label::before, #yes9:checked + label::before, #yes10:checked + label::before, #yes11:checked + label::before, #yes12:checked + label::before, #yes13:checked + label::before, #yes14:checked + label::before, #yes15:checked + label::before, #yes16:checked + label::before, #yes17:checked + label::before, #yes18:checked + label::before, #yes19:checked + label::before, #yes20:checked + label::before,
#ok:checked + label::before, #ok2:checked + label::before, #ok3:checked + label::before, #ok4:checked + label::before, #ok5:checked + label::before,#ok6:checked + label::before, #ok7:checked + label::before, #ok8:checked + label::before, #ok9:checked + label::before, #ok0:checked + label::before, #ok11:checked + label::before, #ok12:checked + label::before, #ok13:checked + label::before, #ok14:checked + label::before, #ok15:checked + label::before, #ok16:checked + label::before, #ok17:checked + label::before, #ok18:checked + label::before, #ok19:checked + label::before, #ok20:checked + label::before{
	background-color: #9f6fae;
}

#no:checked + label, #no2:checked + label, #no3:checked + label, #no4:checked + label, #no5:checked + label, #no6:checked + label, #no7:checked + label, #no8:checked + label, #no9:checked + label, #no10:checked + label, #no11:checked + label, #no12:checked + label, #no13:checked + label, #no14:checked + label, #no15:checked + label, #no16:checked + label, #no17:checked + label, #no18:checked + label, #no19:checked + label, #no20:checked + label,
#maybe:checked  + label, #maybe2:checked + label, #maybe3:checked + label, #maybe4:checked + label, #maybe5:checked + label, #maybe6:checked + label, #maybe7:checked + label, #maybe8:checked + label, #maybe9:checked + label, #maybe10:checked + label, #maybe11:checked + label, #maybe12:checked + label, #maybe13:checked + label, #maybe14:checked + label, #maybe15:checked + label, #maybe16:checked + label, #maybe17:checked + label, #maybe18:checked + label, #maybe19:checked + label, #maybe20:checked + label,
#yes:checked + label, #yes2:checked + label, #yes3:checked + label, #yes4:checked + label, #yes5:checked + label, #yes6:checked + label, #yes7:checked + label, #yes8:checked + label, #yes9:checked + label, #yes10:checked + label, #yes11:checked + label, #yes12:checked + label, #yes13:checked + label, #yes14:checked + label, #yes15:checked + label, #yes16:checked + label, #yes17:checked + label, #yes18:checked + label, #yes19:checked + label, #yes20:checked + label
#ok:checked + label, #ok2:checked + label, #ok3:checked + label, #ok4:checked + label, #ok5:checked + label, #ok6:checked + label, #ok7:checked + label, #ok8:checked + label, #ok9:checked + label, #ok10:checked + label, #ok11:checked + label, #ok12:checked + label, #ok13:checked + label, #ok14:checked + label, #ok15:checked + label, #ok16:checked + label, #ok17:checked + label, #ok18:checked + label, #ok19:checked + label, #ok20:checked + label{
	color: #000;
}
.test_button{
	width: 90%;
	height: 40%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.tab{
	width: 125px;
	height: 35px;
	border-radius: 50px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial;
	color: #fff;
	background-color: #daaee8;
	cursor: pointer;
	transition: 0.3s;
}
.tab:hover{
	transform: scale(1.05);
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}
.finish-block{
	width: 100%;
	height: 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.results_text{
	font-size: 30px;
	font-family: Arial;
	color: #000;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
.box{
  width: 80%;
  height: 100px;
  background: #F4C900;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.header{
  width: 100%;
  height: 90px;
  background: #F7AA04;
  display: flex;
  align-items: center;
  border-bottom: 8px solid white;
}
.logo{
  margin-left: 4%;
  width: 12%;
  height: 50px;
}
.social{
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-top: 1.5%;
  padding-left: 3%;
}
.fb{
	width: 70%;
  display: flex;
}
h2{
  color: black;
}
.main{
  width: 100%;
  background: #F4C900;
  display: flex;
  margin-bottom: 2%;
  align-items: flex-start;
}
.section1{
  width: 47%;
  margin-top: 0.5%;
  margin-left: 4%;
  margin-right: 3%;
}
.hider{
  background: #FFFFFF;
  overflow: hidden;
}
.hider1{
  background: #FFFFFF;
  display: none;
  height: 775px;
  overflow: hidden;
}
.section2{
  width: 50%;
  display: flex;
  float: right;
  flex-wrap: wrap;
  margin-left: -2%;
}
.quest1{
  font-size: 25px;
  padding-top: 20px; 
  padding-left: 3%;
}
.answ1{
  font-size: 25px;
  padding-top: 20px; 
  padding-left: 3%;
}
.time{
  color: #4795E7;
  font-size: 1.8em;
  font-weight: bold;
  padding-left: 3%;
}
footer{
	width: 100%;
	height: 80px;
	margin-top: -2%;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 17px;
	background: #044982;
	text-align: center;
}
.column{
  background: #ffff00;
}
.column1{
  background: #00ff00;
}
.column2{
  background: #ff9900;
}
.column3{
  background: #ea4335;
}
td{
  border: 1px solid black;
  font-size: 1em;
}
table{
  width: 86%;
  text-align: center;
}
.block1{
  width: 29%;
  margin: 1%;
  border: 1px solid #BBCE00;
  background: #BBCE00;
}
.block2{
 width: 29%;
 margin: 1%;
 background: #E8FF0F;
 display: flex;
 border: 1px solid #E8FF0F;
 justify-content: center;
 flex-direction: column;
 align-content: center;
 align-items: center;
}
.block3{
  width: 29%;
  margin: 1%;
  border: 1px solid #F7AA04;
  background: #F7AA04;
}
.block4{
  width: 29%;
  margin: 1%;
  border: 1px solid #C8E7F9;
  background: #C8E7F9;
}
.block5{
  width: 29%;
  margin: 1%;
  border: 1px solid #4795E7;
  background: #4795E7;
}
.block6{
  width: 29%;
  margin: 1%;
  border: 1px solid #A64B39;
  background: #A64B39;
}
.block7{
  width: 29%;
  margin: 1%;
  border: 1px solid #E8FF0F;
  background: #E8FF0F;
}
.block8{
  width: 29%;
  margin: 1%;
  border: 1px solid #F7AA04;
  background: #F7AA04;
}
.block9{
  width: 29%;
  margin: 1%;
  border: 1px solid #C8E7F9;
  background: #C8E7F9;
}
.drop{
  width: 50%;

}
.rulee1{
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}
.rejim{
  color: white;
  font-size: 1.6em;
  text-align: left;
  margin-left: 15%;
}
.weight{
  width: 40%;
}
.rules{
  font-size: 2em;
  font-weight: bold;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 1%;
  padding-top: 12px;
}
.strench{
  width: 40%;
}
.sleep{
  width: 40%;
}
.sleep1{
  width: 40%;
}
.rulee2{
  text-align: center;
}
.form{
  background: lightgreen;
  width: 50%;
  float: left;
  font-family: Calibri;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.formm{
  background: lightblue;
  width: 50%;
  float: left;
  font-family: Calibri;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hider2{
  background: #FFFFFF;
  display: none;
  overflow: hidden;

}
.hider3{
  background: #FFFFFF;
  display: none;
  overflow: hidden;
}
.hider4{
  background: #FFFFFF;
  display: none;
  overflow: hidden;
}
.hider5{
  background: #FFFFFF;
  display: none;
  overflow: hidden;
}
.hider6{
  background: #FFFFFF;
  display: none;
  overflow: hidden;
}
.hider7{
  background: #FFFFFF;
  display: none;
  overflow: hidden;
}
.hider8{
  background: #FFFFFF;
  display: none;
  overflow: hidden;
}
.block1 {
  position:relative;
  z-index: 1;
}
.block1:hover {
  color: #91640F;
}
.block1:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block1:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block2 {
  position:relative;
  z-index: 1;
}
.block2:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block2:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block3{
  position:relative;
  z-index: 1;
}
.block3:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block3:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.sleep_img{
  width: 90%;
}
.block4{
  position:relative;
  z-index: 1;
}
.block4:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block4:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block5 {
  position:relative;
  z-index: 1;
}
.block5:hover {
  color: #91640F;
}
.block5:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block5:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block6 {
  position:relative;
  z-index: 1;
}
.block6:hover {
  color: #91640F;
}
.block6:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block6:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block7 {
  position:relative;
  z-index: 1;
}
.block7:hover {
  color: #91640F;
}
.block7:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block7:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block8 {
  position:relative;
  z-index: 1;
}
.block8:hover {
  color: #91640F;
}
.block8:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block8:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.block9 {
  position:relative;
  z-index: 1;
}
.block9:hover {
  color: #91640F;
}
.block9:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.block9:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
#pomodoro-app{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 3%;
  background: #333333;
}
#container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#time{
  width: 200px;
  height: 200px;
  display: flex;
  margin-bottom: 15%;
  margin-top: 5%;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  border: 3px solid white;
}
#work{
  width: 60px;
  height: 40px;
  background: #4DA6FF;
  border-radius: 10px;
  border: 1px solid #4DA6FF;
  color: white;
}
#shortBreak{
  width: 60px;
  height: 40px;
  background: #00CC00;
  border-radius: 10px;
  border: 1px solid #00CC00;
  color: white;
}
#longBreak{
  width: 60px;
  height: 40px;
  background: #008800;
  border-radius: 10px;
  border: 1px solid #008800;
  color: white;
}
#stop{
  width: 60px;
  height: 40px;
  background: #FF0000;
  border-radius: 10px;
  border: 1px solid #FF0000;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
.myDIV {
  background-color: #F7AA04;
  padding: 30px 40px;

  color: white;
  text-align: center;
}

.myDIV:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0.5%;
}
.card {
  width: 222px;
  height: 200px;
  position: relative;
  border: 1px solid black;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
 }
.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}