.box{
	width: 100%;
	margin: 0 auto;
}



#home{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 852px;
	background-image: url(img/header_bg.jpg);
	background-attachment: fixed;
	background-size: cover;
    padding: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.home-overlay{
	background-color: rgba(44, 62, 80, 0.5);
    background-repeat: repeat;
    height: 860px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.headline_frontend{
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
}
.headline_greeting, .headline_frontend{
	color: #fff;
	z-index: 1;
}
.headline_text{
	z-index: 0;
}



header{
	width: 100%;
	/*height: 500px;*/
	background: #F2F1EE;
}
.mission{
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	padding-top: 80px;
}
.pfblock-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}
.facts{
    font-style: normal;
    font-size: 20px;
    width: 25%;
    color: grey;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.cards_fb{
	width: 60%;
	/*height: 200px;*/
	display: flex;
	margin: 0 auto;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: row;
}
.types_web_layout{
	width: 25%;
	padding: 40px 20px;
	margin: 5%;
	text-align: center;
	background: #fff;
}
.icon{
	width: 100px;
	padding: 0;
	height: 100px;
}
.blockImg{
	width: 300px;
	height: 169px;
	/*overflow: hidden;*/
	cursor: pointer;
	background: #000;
}
.blockImg img {
	width: 100%;
}



main{
	width: 100%;
	height: 300px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
}
.dws-wrapper{
 width: 350px;
 position: relative;
 border: solid 5px rgba(255, 255, 255, 0.8);
 background: linear-gradient(20deg, #f00, #00f);
 overflow: hidden;
}  
.dws-wrapper-fb{
	display: flex;
}
.dws-wrapper a img{
 width: 100%;
}    
.dws-text{
 position: absolute;
 top: 0;
 left: 0;
}  
.dws-wrapper a{
 display: block;
 color: #fff;
 text-decoration: none;
}    
.dws-text{
 position: absolute;
 top: 0;
 left: 0;
 padding: 40px 20px;
 opacity: 0;
 z-index: 100;
 transition: .5s ease;
}   
.dws-wrapper:hover .dws-text{
 opacity: 1;
}   
.dws-text h3{
 font-size: 25px;
}
.dws-wrapper a:before,
.dws-wrapper a:after{
 content: '';
 position: absolute;
 width: 200%;
 height: 200%;
 transition: .5s ease-in-out;
 mix-blend-mode: darken;
}     
.dws-wrapper a:before{
 right: 0;
 bottom: -100%;
 background: rgba(230, 12, 50, 0.8);
 transform: skew(-45deg) translateX(100%);
}   
.dws-wrapper a:after{
 left: 0;
 top: -100%;
 background: rgba(11, 72, 174, 0.8);
 transform: skew(135deg) translateX(-100%);
}    
.dws-wrapper a:before,
.dws-wrapper a:after{
 content: '';
 position: absolute;
 width: 200%;
 height: 200%;
 transition: .5s ease-in-out;
}    
.dws-wrapper:hover a:before{
 transform: skew(-45deg) translateX(0%);
}  
.dws-wrapper:hover a:after{
 transform: skew(135deg) translateX(0%);
}   


footer{
	width: 100%;
	display: flex;
	justify-content: center;
	height: 150px;
}



@media screen and (max-width: 900px) {
	.cards_fb{
		display: flex;
		flex-direction: column;
	}
	.types_web_layout{
		width: 90%;
		margin: 0 auto;
		margin: 2%;
	}
	.facts{
		width: 60%;
	}
}